###> Docker ###
docker-compose.override.yml
docker-compose.override.yaml
###< Docker ###

###> bolt/core ###
config/bolt/*_local.yaml
/config/packages/local
/config/routes/local
/public/files/*
!/public/files/.gitkeep
/public/themes/*
!/public/themes/.gitkeep
/public/thumbs/*
!/public/thumbs/.gitkeep
###< bolt/core ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/assets/
/public/bundles/
/var/cache/*
!/var/cache/.gitkeep
/var/log/*
!/var/log/.gitkeep
/vendor/
###< symfony/framework-bundle ###
